.comments-container {
  grid-area: comments;
  overflow: overlay;
}

.comment-content {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 20px;
}

.comment-content__date {
  color: #999;
}

.comment-content__text {
  margin: 5px 0 0;
}
